{% extends 'main/base.html' %}

{% block title %}
    Страница Авторизации
{% endblock %}

{% block content %}
    <p></p>
    <h2 class="login_header">Введите данные для входа</h2>

    <form class="login_form" method="post">
        {% csrf_token %}

        <div class="form-error">{{ form.non_field_error }}</div>

        {% for f in form %}
            <p>{{ f.label }}</p>
            <p>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <br>
        <button type="submit">Войти</button>
    </form>
{% endblock %}